<div class="home">
  <div class="input-container">
    <img src="assets/weather01.jpg" alt="Logo" class="logo">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="text" placeholder="Pesquise por uma cidade..." formControlName="city" />
      <app-button type="submit" [labelButton]="'Buscar'"></app-button>
    </form>

  </div>
</div>
<div class="response-container">
  <div class="card" *ngIf="resultWeather">
   <h2>Previsao do tempo:</h2>
    <p><strong>Cidade:</strong> {{ resultWeather.name }}</p>
    <p><strong>País:</strong> {{ resultWeather.sys.country }}</p>
    <p><strong>Temperatura:</strong> {{ resultWeather.main.temp | number: '1.0-0' }} °C</p>
    <p><strong>Sensação Térmica:</strong> {{ resultWeather.main.feels_like | number: '1.0-0' }} °C</p>
    <p><strong>Temperatura Mínima:</strong> {{ resultWeather.main.temp_min | number: '1.0-0' }} °C</p>
    <p><strong>Temperatura Máxima: </strong>{{ resultWeather.main.temp_max | number: '1.0-0' }} °C</p>
    <p><strong>Umidade:</strong> {{ resultWeather.main.humidity }}%</p>
    <p><strong>Pressão: </strong>{{ resultWeather.main.pressure }} hPa</p>
    <p><strong>Visibilidade: </strong>{{ resultWeather.visibility }} m</p>
    <p><strong>Condições: </strong>{{ resultWeather.weather[0].description }}</p>
    <p><strong>Velocidade do Vento: </strong>{{ resultWeather.wind.speed }} m/s</p>
  </div>
</div>
<div *ngIf="errorMessage" class="errorMessage">
  <p>{{ errorMessage }}</p>
</div>
<p *ngIf="cityFound && messageTemperature !==null" class="temperature">{{ messageTemperature }}</p>
