.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 100px;
}

.input-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  text-align: center;
}

.response-container {
  display: grid;
  place-items: center;
  background-color: #f4f7fc;
  padding: 20px;
  margin-top: 20px;
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 450px;
  width: 100%;
  font-family: "Arial", sans-serif;
  position: relative;
  z-index: 1;
}

.card h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.card p {
  font-size: 16px;
  color: #555;
  margin: 5px 0;
}

.card strong {
  color: #007bff;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}
